html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* navagation bar */
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  float: left;
  margin-top: 30px;
}

.logo {
  width: 120px;
  height: 60px;
  background: url("../images/logo.png");
  background-size: 130px;
  background-position: top;
}

header nav {
  float: right;
  height: auto;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
}

header nav ul {
  margin: 0;
  padding: 15px;
  display: flex;
}

header nav ul li {
  list-style: none;
  background: rgb(223, 223, 223);
}

header nav ul li a {
  height: auto;
  line-height: 50px;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  background: rgb(255, 16, 16);
}

.fa-phone {
  padding-top: 30px;
}

nav h1 {
  padding-top: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.menu-toggle {
  color: rgb(0, 0, 0);
  background: #ffffff00;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  padding-top: 10px;
}

.landing-picture {
  width: 100%;
  height: 800px;
  background: url("../images/girl-desk.jpg");
  background-size: cover;
  background-position: top;
}

.landing-picture h1 {
  padding-top: 170px;
  margin-right: 30px;
  text-align: right;
  font-size: 40px;
  color: rgb(255, 16, 16);
  font-weight: bolder;
}

.landing-picture h2 {
  margin-right: 30px;
  text-align: right;
  font-size: 40px;
  color: rgb(255, 16, 16);
  font-weight: bolder;
}

.landing-picture h2 {
  color: rgb(255, 16, 16);
  font-weight: bolder;
}

.let-us-help {
  width: 100%;
  height: auto;
  padding-bottom: 70px;
}

.let-us-help h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(255, 16, 16);
  padding-top: 70px;
}

.first-section-content {
  width: 100%;
  height: auto;
  display: flex;
}

.tax-levi {
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: justify;
  line-height: 20px;
}

.tax-levi h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.tax-debt-relief {
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: justify;
  line-height: 20px;
}

.tax-debt-relief h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.tax-problem {
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: justify;
  line-height: 20px;
}

.tax-problem h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.second-section-content {
  width: 900px;
  height: auto;
  margin: auto;
  display: flex;
}

.innocent-spouse {
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: justify;
  line-height: 20px;
}

.innocent-spouse h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.transcript-analysis {
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: justify;
  line-height: 20px;
}

.transcript-analysis h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

/* footer */

footer {
  padding: 50px;
  background: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 100;
}

footer span {
  margin: 5px;
}

/* mobile styles */
@media(max-width: 580px) {

  /* nav-bar */
  header {
    padding: 0 20px;
    background: #ffffff;
  }

  header .logo {
    color: white;
    margin-top: 0;
  }

  .logo {
    width: 200px;
    background: url("../images/logo.png") no-repeat;
    background-size: 120px;
    background-position: left;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    top: 30px;
    left: -100%;
    transition: 0.5s;
    display: block;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  header nav ul li {
    background: rgb(255, 255, 255);
  }

  header nav ul li a {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #3e3e3e00;
  }

  .fa-phone {
    display: none;
  }

  nav h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
  }

  /* landing picture styles */

  .landing-picture h1 {
    color: rgb(255, 255, 255);
    padding-top: 400px;
    text-align: center;
    margin: 0;
  }

  .landing-picture h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
  }

  /* let us help section */

  .let-us-help h1 {
    font-size: 40px;
  }

  .first-section-content {
    display: block;
  }

  .tax-levi {
    width: 100%;
  }

  .tax-levi h1 {
    font-size: 30px;
  }

  .tax-debt-relief {
    width: 100%;
  }

  .tax-debt-relief h1 {
    font-size: 30px;
  }

  .tax-problem {
    width: 100%;
  }

  .tax-problem h1 {
    font-size: 30px;
  }

  .second-section-content {
    display: block;
    width: 100%;
  }

  .innocent-spouse {
    width: 100%;
  }

  .innocent-spouse h1 {
    font-size: 30px;
  }

  .transcript-analysis h1 {
    font-size: 30px;
  }

  .transcript-analysis {
    width: 100%;
  }
}

/* tablet styles */
@media(max-width: 900px) {

  /* nav-bar */
  header {
    padding: 0 20px;
    background: #ffffff;
  }

  header .logo {
    color: white;
    margin-top: 0;
  }

  .logo {
    width: 200px;
    background: url("../images/logo.png") no-repeat;
    background-size: 120px;
    background-position: left;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    top: 35px;
    left: -100%;
    transition: 0.5s;
    display: block;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  header nav ul li {
    background: rgb(255, 255, 255);
  }

  header nav ul li a {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #3e3e3e00;
  }

  .fa-phone {
    display: none;
  }

  nav h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
  }

  .first-section-content {
    width: 100%;
  }

  /* taxes */

  /* landing picture styles */

  .landing-picture h1 {
    color: rgb(255, 255, 255);
    padding-top: 400px;
    text-align: center;
    margin: 0;
  }

  .landing-picture h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
  }

  /* let us help section */

  .let-us-help h1 {
    font-size: 40px;
  }

  .first-section-content {
    display: block;
  }

  .tax-levi {
    width: 100%;
  }

  .tax-levi h1 {
    font-size: 30px;
  }

  .tax-debt-relief {
    width: 100%;
  }

  .tax-debt-relief h1 {
    font-size: 30px;
  }

  .tax-problem {
    width: 100%;
  }

  .tax-problem h1 {
    font-size: 30px;
  }

  .second-section-content {
    display: block;
    width: 100%;
  }

  .innocent-spouse {
    width: 100%;
  }

  .innocent-spouse h1 {
    font-size: 30px;
  }

  .transcript-analysis h1 {
    font-size: 30px;
  }

  .transcript-analysis {
    width: 100%;
  }
}